<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method= "post" class="default-form">
        <h3>Información General</h3>
        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: React Developers" required value="{{vacante.titulo}}"/>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Ej: Empresa" required  value="{{vacante.empresa}}"/>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" placeholder="Ej: Hidalgo, México" required  value="{{vacante.ubicacion}}"/>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" name="salario" placeholder="Ej: $500" required  value="{{vacante.salario}}"/>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato" >
                {{#tipoContrato vacante.contrato}}
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="Freelance">Freelance</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
                <option value="Medio Completo">Medio Completo</option>
                <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>
        <h3>Descripción del puesto</h3>
        <div class="campo descripcion">
            <label>Descripción</label>
            <input type="hidden"value="{{{vacante.descripcion}}}" id="x" name="descripcion" >
            <trix-editor input="x">

            </trix-editor>
        </div>

        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#seleccionarSkils vacante.skills}}
            {{/seleccionarSkils}}
        </ul>

        <div class="campo centrar horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>